.primary {
  color: $primary;
}

.accent {
  color: $accent;
}

.white {
  color: $white;
}

.light {
  color: $light;
}

.primary-bg {
  background-color: $primary;
}

.accent-bg {
  background-color: $accent;
}

.white-bg {
  background-color: $white;
}

.light-bg {
  background-color: $light-bg;
}
